/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --text-color: var(--black-080);

  /* black
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  --black-100: hsl(0, 0%, 0%);
  --black-090: hsl(0, 0%, 10%);
  --black-080: hsl(0, 0%, 20%);
  --black-070: hsl(0, 0%, 30%);
  --black-060: hsl(0, 0%, 40%);
  --black-050: hsl(0, 0%, 50%);
  --black-040: hsl(0, 0%, 60%);
  --black-030: hsl(0, 0%, 70%);
  --black-020: hsl(0, 0%, 80%);
  --black-010: hsl(0, 0%, 90%);
  --black-000: hsl(0, 0%, 100%);

  /* blue
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  --blue-090: hsl(210, 76%, 10%);
  --blue-080: hsl(210, 76%, 20%);
  --blue-070: hsl(210, 76%, 30%);
  --blue-060: hsl(210, 76%, 40%);
  --blue-050: hsl(210, 76%, 50%);
  --blue-040: hsl(210, 76%, 60%);
  --blue-030: hsl(210, 76%, 70%);
  --blue-020: hsl(210, 76%, 80%);
  --blue-010: hsl(210, 76%, 90%);

  /* green
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  --green-090: hsl(90, 76%, 10%);
  --green-080: hsl(90, 76%, 20%);
  --green-070: hsl(90, 76%, 30%);
  --green-060: hsl(90, 76%, 40%);
  --green-050: hsl(90, 76%, 50%);
  --green-040: hsl(90, 76%, 60%);
  --green-030: hsl(90, 76%, 70%);
  --green-020: hsl(90, 76%, 80%);
  --green-010: hsl(90, 76%, 90%);

  /* red
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  --red-090: hsl(330, 76%, 10%);
  --red-080: hsl(330, 76%, 20%);
  --red-070: hsl(330, 76%, 30%);
  --red-060: hsl(330, 76%, 40%);
  --red-050: hsl(330, 76%, 50%);
  --red-040: hsl(330, 76%, 60%);
  --red-030: hsl(330, 76%, 70%);
  --red-020: hsl(330, 76%, 80%);
  --red-010: hsl(330, 76%, 90%);
}
